[Desktop Entry]
Type=Application
#X-Nemo-Application-Type=silica-qt5
X-Nemo-Application-Type=qt5
Icon=Hangish
Exec=Hangish
Name=Hangish
# translation example:
# your app name in German locale (de)
Name[de]=Hangish

